@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.monochrome{
  filter: grayscale(100%);
  /* transition: filter 0.5s ease; */
}
.customIcon {
  background-color: #222222;
  /* color: 'white'; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #9C9B9B;
  border-radius: 10px;
  /* margin-right: 20px; */
}
@keyframes yellow-fade {
  0% {
    background: #006A4E;
  }
  100% {
    background: none;
  }
}

.highlight {
  animation: yellow-fade 2s ease-in 1;
}